/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2019, 10:23:25 AM
    Author     : taylo
*/
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
     background-color:beige;
     font-family: Arial, sans-serif;
     color: #333;

 }
 
 h2,h3,h4 {
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     padding: 0;
     margin: 0;
 }

 h1 {
     font-family: 'Dancing Script', cursive;
     font-weight: 600;
     font-size: 3rem;
     text-shadow: 1px 1px 2px #333;
     padding: 0;
     margin: 0;
 }

 img {
     max-width: 100%;
     height: auto;
 }
 
 /**
 Global styles
 */
 
.flex {
    display: flex;
}
 
.container {
     max-width: 1100px;
     margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 95%;
    }
}


section,
main {
     padding: 1rem 0;
}
 
.section-header {
     padding-bottom: 1rem;
     text-align: center;
}

.text-center {
    text-align: center;
}

.btn {
    color: #fff;
    padding: .4rem 1rem;
    background-color: rgb(57, 126, 56);
    border-radius: 5%;
}

a.btn {
    text-decoration: none;
}

.form-field {
    padding-bottom: .5rem;
    text-align: center;
}

.pad-bottom {
    padding: 0 0 1rem 0;
}

/** End Global Styles **/

 
header {
    padding: 4rem 0;
    background-image: linear-gradient(to top, rgba(57, 126, 56, .3), rgba(122, 33, 33, 0.1)),
    url(./img/produce.jpg);
    background-size: cover;
    color: #fff;
}

nav {
    width: 100%;
    background-color: rgb(57, 126, 56);
}

form {
    padding: .5rem 0;
}

main {
}

ul.nav-links {
    padding: 0; 
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    height: auto;
    max-width: 60%;
    margin: 0 auto;
}

.nav-links li {
    flex: 1 1 20%;
    padding: 1rem 2rem;
    text-align: center;

}

.nav-links li a.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
}

/** Search **/

/* Featured Recipes */
.featured-recipes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-recipes .featured-recipe {
    border: 1px solid rgb(57, 126, 56);
    box-shadow: 1px 1px 3px #ccc;
    flex: 0 1 25%;
    min-width: 200px;
    border-radius: 1%;
    background-color: #fff;
}
@media only screen and (max-width: 768px) {
    .featured-recipes .featured-recipe {
        margin: 1rem 0;
    }

}

.featured-recipe .featured-recipe-img-wrap {
    position: relative;
}
.featured-recipe .featured-recipe-img-wrap img {
    border-radius: 1%;
}
.featured-recipe-img-wrap h4 {
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: .5rem;
    background-color: rgba(51, 51, 51, .6);
}
.featured-recipes .featured-recipe p {
    padding: 0 .5rem;
}

.add-recipe {
    padding: 2rem 0;
}



main.login {
    padding-top: 5rem;
}


.login-form-wrap {
    background-color: #fff;
    padding: 1.5rem;
    margin: 2rem;
    width: 350px;
    margin: 0 auto;
    border: 1px solid rgb(57, 126, 56);
    border-radius: 1%;
    box-shadow: 1px 1px 3px #ccc;
}

form.login-form {
    background-color: #fff;
}

