/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2019, 10:23:25 AM
    Author     : taylo
*/
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
     background-color:beige;
     font-family: Arial, sans-serif;
     color: #333;
     position: relative;
     min-height: 100vh;
     padding-bottom: 3rem;
 }
 
  h1 {
     font-family: 'Dancing Script', cursive;
     font-weight: 600;
     font-size: 3rem;
     text-shadow: 1px 1px 2px #333;
     padding: 0;
     margin: 0;
 }
 
 h2,h3,h4 {
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     padding: 0;
     margin: 0;
 }

 a {
     color: rgb(57, 126, 56);
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 /**
 Global styles
 */
 
.flex {
    display: flex;
}
 
.container {
     max-width: 1100px;
     margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 95%;
    }
}

.search-input {
    border-radius: 5%;
}

input,
textarea {
    padding: .4rem 0;
    border: 2px solid rgba(57, 126, 56, .5);
}

input:focus,
textarea:focus {
    border: 2px solid rgba(57, 126, 56, 1);
    outline: none;
}

section,
main {
    padding: 1rem 0;
}
 
.section-header {
     text-align: center;
}

.section-header h4 {
     padding-top: 2rem;
}

.text-center {
    text-align: center;
}

.btn {
    color: #fff;
    padding: .4rem 1rem;
    background-color: rgba(57, 126, 56, .9);
    border-radius: 5%;
    border: none;
    box-shadow: 0px 1px 1px #444;
}

a.btn {
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(57, 126, 56, 1);
    box-shadow: 1px 1px 2px #444;
    cursor: pointer;
}

.btn-large {
    font-size: 1.3rem;
    padding: .4rem 2rem;
    margin: .5rem 0;
}

.form-field {
    display: block;
    margin-bottom: .5rem;
}

.pad-bottom {
    padding: 0 0 1rem 0;
}

.pad-top {
   padding-top: 1rem; 
}

.warning-message {
    padding: 1rem 0;
    color: red;
}

/** End Global Styles **/

 
header {
    padding: 4rem 0;
    background-image: linear-gradient(to top, rgba(57, 126, 56, .3), rgba(122, 33, 33, 0.1)),
    url(./img/produce.jpg);
    background-size: cover;
    color: #fff;
}

nav {
    width: 100%;
    background-color: rgb(57, 126, 56);
}


ul.nav-links {
    padding: 0; 
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    height: auto;
    max-width: 60%;
    margin: 0 auto;
}

.nav-links li {
    flex: 1 1 20%;
    min-width: 150px;
    text-align: center;
}

.nav-links li a.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem .5rem;
    display: block;
}

.nav-links li a.nav-link:hover {
    color: rgb(245, 245, 220, .9);
    transition: color 80ms ease-in-out; /* same as ::after, which is below this  */
}


nav ul li {
     position: relative;
}


nav ul li::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom:0;
  background-color: rgb(245, 245, 220);
  transition: all 80ms ease-in-out;
}
nav ul li:hover::after{
  width: 100%;
  left: 0;
}

/** Search **/

/* Featured Recipes */
.featured-recipes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-recipes .featured-recipe {
   /*  border: 1px solid rgb(57, 126, 56);  */
    box-shadow: 1px 1px 3px rgba(57, 126, 56, .7);
    flex: 0 1 25%;
    min-width: 200px;
    border-radius: 1%;
    background-color: #fff;
}
@media only screen and (max-width: 768px) {
    .featured-recipes .featured-recipe {
        margin: 1rem 0;
    }
}

.featured-recipe .featured-recipe-img-wrap {
    position: relative;
}
.featured-recipe .featured-recipe-img-wrap img {
    border-radius: 1%;
}
.featured-recipe-img-wrap h4 {
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: .5rem;
    background-color: rgba(51, 51, 51, .6);
}
.featured-recipes .featured-recipe p {
    padding: 0 .5rem;
}


/* Single Recipe */
.single-recipe {
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .single-recipe {
        flex-direction: column;
    }
}

.single-recipe .recipe-image,
.single-recipe .recipe-info {
    flex: 0 1 45%;
    padding: 1rem;
}
@media only screen and (max-width: 768px) {
    .single-recipe .recipe-info {
        order: 1;
    }
}
@media only screen and (max-width: 768px) {
    .single-recipe .recipe-image {
        order: 2;
    width: 65%;
    margin: 0 auto;
    padding: 1rem;
}
}



.add-recipe {
    padding: 2rem 0;
}

form {
    padding: .5rem 0;
}


main.login {
    padding-top: 2rem;
}


.login-form-wrap,
.register-form-wrap {
    background-color: #fff;
    padding: 1.5rem;
    margin: 2rem;
    width: 350px;
    margin: 0 auto;
    border: 1px solid rgb(57, 126, 56);
    border-radius: 1%;
    box-shadow: 1px 1px 3px #ccc;
}

@media only screen and (max-width: 600px) {
    .login-form-wrap,
    .register-form-wrap {
        width: 100%;
        max-width: 350px;
    }
}

.recipe-form-wrap {
    background-color: #fff;
    padding: 1.5rem;
    margin: 2rem;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(57, 126, 56);
    border-radius: 1%;
    box-shadow: 1px 1px 3px #ccc;
}

form.login-form,
form.register-form {
    background-color: #fff;
}

form.register-form label {
    float: left;
    padding: .4rem 0;
    color: #555;
    min-width: 100px;
}

@media only screen and (max-width: 600px) {
    form.register-form label {
        float: none;
        display: block;
    }
}

form.login-form .form-field,
form.register-form .form-field {
   text-align: center;
}

form.login-form .form-field input[type="text"],
form.login-form .form-field input[type="password"] {
    padding: .3rem;
}


.error-message {
    color: red;
    padding: .5rem 0;
    text-align: center;
    font-size: .8rem;
}



/* Add Recipe */
.add-recipe-form label {
    display: block;
}

.add-recipe-form input#name {
    width: 50%;
    min-width: 200px;
}

.add-recipe-form textarea {
    width: 100%;
    min-height: 100px;
}

.add-recipe input[type="file"] {
    border: none;
    padding: .5rem;
    padding-left: 0;
}

footer {
    background-color: rgb(57, 126, 56);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    padding: 1rem;
    margin: 0;
}

footer a {
    color: #ccc;
}